* {
    padding: 0;
    margin: 0;
}


.col {
    position: relative;
    display: block;
}

.col-1 {
    width: 50%;
    min-height: auto;
    float: left;
    background-color: black;
    z-index: -3000;

     }
.col-2 {
    width: 50%;
    min-height: auto;
    margin-left: 0;
    float: left;
    opacity: 1;
    background-color: black;
    z-index: -3000;
    border-radius: 6em;
    border-color: white;

}


::-moz-selection {
   background-color: black;
   color: #fff;
}
::selection {
    background-color: black;
    color: yellow;
}

body {
  background-color: black;
}



li {
  font-family: 'Helvetica';
  padding: 10px;
  color: white;
  text-align: left;
  text-decoration: underline;
  width: 90%;
  font-size: 4em;
  line-height: 1.3em;

}

p {
   font-family: 'Helvetica';
   font-size: 1.5em;
   text-align: left;
   line-height: 1.4em;
   width: 90%;
   /* line-height: 2.1em; */
   /* margin-bottom: 0.2em; */
   color: white;
   padding: 20px;
   overflow-wrap: break-word;
   hyphens: auto;
   background: black;
   text-indent: 30px;

 }

h1 {
  font-family: 'Helvetica';
  padding: 20px;
  color: white;
  text-align: center;
  text-decoration: underline;
  width: 100%;
  font-size: 5em;
  line-height: 1.3em;
  margin-top: 40%;
  margin-left: 0%;
}


h2 {
    font-family: 'Helvetica';
    padding: 20px;
    color: white;
    text-align: left;
    text-decoration: underline;
    font-size: 3em;
    line-height: 1.3em;
    background: black;
    width: 90%;
    font-weight: normal;
    margin-top: 50px;
    }

 /*right column small chapters such as A. B. */
 h6 {
     font-family: 'Helvetica';
     font-size: 1.7em;
     text-align: left;
     line-height: 1.4em;
     width: 90%;
     color: white;
     padding: 20px;
     overflow-wrap: break-word;
     hyphens: auto;
     text-decoration: underline;
     font-weight: normal;
    }

/*left column chapter titles*/
 h3 {
   font-family: 'Helvetica';
   padding: 20px;
   color: black;
   text-align: left;
   text-decoration: underline;
   width: 100%;
   font-size: 3em;
   line-height: 1.3em;
   max-width: 100%;

  }

/*left column bigger chapter titles*/
  h4{
    font-family: 'Helvetica';
    padding: 0px;
    color: white;
    text-align: left;
    text-decoration: underline;
    width: 90%;
    font-size: 4em;
    line-height: 1.3em;
    color: black;
    font-weight: normal;
  }

 /*main text for left column paragraphs*/
  h5 {
     font-family: 'Helvetica';
     font-size: 1.5em;
     text-align: left;
     line-height: 1.4em;
     width: 90%;
     /* line-height: 2.1em; */
     /* margin-bottom: 0.2em; */
     color: black;
     padding: 20px;
     overflow-wrap: break-word;
     hyphens: auto;
     background: black;
     text-indent: 30px;
     font-weight:normal;
   }

  /*left column small chapters such as A. B. */
   h6-1 {
       font-family: 'Helvetica';
       font-size: 1.3em;
       text-align: left;
       line-height: 1.3em;
       width: 70%;
       color: white;
       padding-left: 30px;
       overflow-wrap: break-word;
       hyphens: auto;
       text-decoration: underline;
       font-weight: normal;

      }





.col-1--imgHolder {
background: url(hole-10.svg);
width: 50%;
height: 100%;
background-color: white;
overflow: hidden;
position: fixed;
position: -webkit-fixed;
top: 0;
mix-blend-mode: exclusion;
border-radius: 6em;

/*
background: url(hole-10.svg);
background-repeat: no-repeat;
/*
-webkit-mask-image: radial-gradient(circle, white 50%, rgba(0, 0, 0, -0.5) 90%);
  mask-image: radial-gradient(circle, white 50%, rgba(0, 0, 0, -0.5) 90%);


/* -webkit-clip-path: ellipse(245px, 80px, 75px, 30px); */
/* background-image: url(hole-01.svg);
-webkit-mask-attachment: 0px 0px;
        -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
background-size: 50% auto;
background-clip: text;
background-attachment: fixed; */
/* -webkit-mask-image: url(hole-01.svg);
mask-image: url(hole-01.svg); */
z-index: 1000;
}

.contentHolder {
 position: relative;
 z-index: -1000;
 background-attachment: scroll;
}

.contentHolder img{
 position: relative;
 z-index: -1000;
 background-attachment: scroll;
 width: 100%;
}

.verticalLine {
position: fixed;
background-color: black;
width: 2px;
top: 0px;
bottom: 0px;
left: 50%;
z-index: 102;
}

.footnote {
  background-color: black;
  padding: 10px;
  word-wrap: break-word;
  display: none;
  width: auto;
  border-radius: 5rem;
  border: 2px solid white;
  font-size: 0.7em;
  line-height: 1.2em;
  text-align: left;
  color: white;
  word-break: break-all;
}

sup:hover + .footnote {
  display: block;
}

/*
@media only screen and (max-width: 6000px)
{
  .imgHolder {

  width: 300%;
  background-color: black;
  overflow: hidden;
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  background: url(hole-10.svg);
  z-index: 1000;
  mix-blend-mode: difference;
  }
}*/


/*
@media only screen and (max-width: 3840px)
{
  .imgHolder {

  width: 200%;
  background-color: black;
  overflow: hidden;
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  background: url(hole-10.svg);
  z-index: 1000;
  mix-blend-mode: difference;
  }
}

@media only screen and (min-width: 3839px)
{
  .imgHolder {

  width: 200%;
  background-color: black;
  overflow: hidden;
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  background: url(hole-10.svg);
  z-index: 1000;
  mix-blend-mode: difference;
  }
}

@media only screen and (min-width: 2880px)
{
  .imgHolder {
  width: 200%;
  background-color: black;
  overflow: hidden;
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  background: url(hole-10.svg);
  background-repeat: no-repeat;
  z-index: 1000;
  mix-blend-mode: difference;
  }
}

@media only screen and (max-width: 2879px)
{
  .imgHolder {
  width: 100%;
  height: 100%;
  background-color: black;
  margin-right: 0;
  overflow: hidden;
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  background: url(hole-10.svg);
  background-repeat: no-repeat;
  z-index: 1000;
  mix-blend-mode: difference;
  }
}

@media only screen and (max-width: 1900px)
{
  .imgHolder {

  width: 100%;
  background-color: black;
  overflow: hidden;
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  background: url(hole-10.svg);
  background-repeat: no-repeat;
  z-index: 1000;
  mix-blend-mode: difference;
  }
}
*/










a img { display:none; }
a:hover img { display:block; }
