
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;1,400&display=swap');


* {
    padding: 0;
    margin: 0;
}

@media (min-width: 700px) {

.col {
    position: relative;
    display: block;
}


.col-1 {
    width: 50%;
    min-height: auto;
    float: left;
    background-color: black;
    z-index: -3000;
    opacity: 1;
    border-radius: 6em;
     }

.col-2 {
    width: 50%;
    min-height: auto;
    margin-left: 0;
    padding-top: 150px;
    float: left;
    opacity: 1;
    background-color: black;
    z-index: -3000;
    border-radius: 6em;
}


::-moz-selection {
   background-color: black;
   color: #fff;
}
::selection {
    background-color: black;
    color: yellow;
}

body {
  background-color: black;
}



.topnav {
  overflow: hidden;
  position: fixed;
  top: 4px;
  width: auto;
/*   display: flex; */
flex-direction: row;
justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  margin: 4px;
  color: black !important;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Chakra Petch';
  font-size: 1.5em;
  white-space:nowrap;
  border-radius: calc(0.6em + 16px);
  background-color: white;
  text-decoration: none;
  display: inline-block;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: yellow;
  color: black;
  display: inline-block;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: yellow !important;
  display: inline-block;
}

li{
  font-family: 'Chakra Petch';
  padding: 20px;
  color: white;
  text-align: left;
  text-decoration: underline;
  width: 90%;
  font-size: 4em;
  line-height: 1.3em;
}

a:visited {
  font-family: 'Chakra Petch';
  padding: 10px;
  color: white;
  text-align: left;
  text-decoration: underline;
  width: 90%;
  font-size: 4em;
  line-height: 1.3em;
}

a:hover {
  color: yellow;
}

 a{
    color: white;
  }


p {
   font-family: 'Chakra Petch';
   font-size: 1.6em;
   text-align: left;
   line-height: 1.5em;
   width: 90%;
   color: white;
   overflow-wrap: break-word;
   hyphens: auto;
   background: black;
   padding-left: 1em;
   margin-left: 1em;
   text-indent: 1.8em;
 }

 p.a {
    font-family: 'Chakra Petch';
    font-size: 0.8em;
    text-align: left;
    line-height: 1.4em;
    width: 90%;
    color: white;
    overflow-wrap: break-word;
    background: black;
    padding-left: 0.5em;
    margin-left: 4em;
    text-indent: -1.5em;
  }

  p.b {
     font-family: 'Chakra Petch';
     font-size: 1.1em;
     text-align: center;
     line-height: 1.4em;
     width: 90%;
     color: white;
     overflow-wrap: break-word;
     padding: 5px;
   }

h1 {
  font-family: 'Chakra Petch';
  color: white;
  text-align: center;
  text-decoration: underline;
  width: 100%;
  font-size: 6em;
  line-height: 1.3em;
  padding-top: 45%;

  margin-left: 0%;
  display: block;
}


h2 {
    font-family: 'Chakra Petch';
    padding: 20px;
    color: white;
    text-align: left;
    text-decoration: underline;
    font-size: 3em;
    line-height: 1.3em;
    background: black;
    width: 90%;
    font-weight: normal;
    margin-top: 50px;
    }

 /*right column small chapters such as A. B. */
 h6 {
     font-family: 'Chakra Petch';
     font-size: 1.7em;
     text-align: left;
     line-height: 1.4em;
     width: 90%;
     color: white;
     padding: 30px;
     overflow-wrap: break-word;
     hyphens: auto;
     text-decoration: underline;
     font-weight: normal;
    }

/*left column chapter titles*/
 h3 {
   font-family: 'Chakra Petch';
   padding: 20px;
   color: black;
   text-align: left;
   text-decoration: underline;
   width: 100%;
   font-size: 3em;
   line-height: 1.3em;
   max-width: 100%;

  }

/*left column bigger chapter titles*/
  h4{
    font-family: 'Chakra Petch';
    padding: 0px;
    color: white;
    text-align: left;
    text-decoration: underline;
    width: 90%;
    font-size: 4em;
    line-height: 1.3em;
    color: black;
    font-weight: normal;
  }

 /*main text for left column paragraphs*/
  h5 {
     font-family: 'Chakra Petch';
     font-size: 1.5em;
     text-align: left;
     line-height: 1.4em;
     width: 90%;
     /* line-height: 2.1em; */
     /* margin-bottom: 0.2em; */
     color: black;
     padding: 20px;
     overflow-wrap: break-word;
     hyphens: auto;
     background: black;
     text-indent: 30px;
     font-weight:normal;
   }

  /*left column small chapters such as A. B. */
   h6-1 {
     font-family: 'Chakra Petch';
     font-size: 1.1em;
     text-align: center;
     line-height: 1.3em;
     color: white;
     overflow-wrap: break-word;

      }


.col-1--imgHolder {
background-image: url(hole-10.svg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
width: 50%;
height: 100%;
background-color: white;
overflow: hidden;
position: fixed;
position: -webkit-fixed;
top: 0;
mix-blend-mode: exclusion;
border-radius: 6em;
z-index: 1000;
}

.contentHolder {
 position: relative;
 z-index: -1000;
 background-attachment: scroll;
 text-align: center;
}

.contentHolder img{
 position: relative;
 z-index: -1000;
 background-attachment: scroll;
 width: 100%;
 padding-top: 2%;
 padding-bottom: 1%;
}

.sections {
padding-top: 90px;
}

.footnote {
  background-color: black;
  padding: 1em;
  word-wrap: break-word;
  display: none;
  width: auto;
  border-radius: 5rem;

  font-size: 0.7em;
  line-height: 1.2em;
  text-align: left;
  color: yellow;
  padding-left: 1.5em;
  text-indent: -1.7em;

}

sup:hover + .footnote {
  display: block;
}

sup{
 font-size: 50%;
 color: yellow;
}


}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 699px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


  ul{
    margin-top: 180px;
  }

  div.col-2{
    width: 50%;
    padding-top: 200px;
  }
  div.col-1, .col-1--imgHolder{
    width: 50%;
  }

  .sections {
  padding-top: 180px;
  }

  .contentHolder img{
   position: relative;
   z-index: -1000;
   background-attachment: scroll;
   width: 100%;
   padding-top: 2%;
   padding-bottom: 1%;
  }

  li{
    font-family: 'Chakra Petch';
    padding: 20px;
    color: white;
    text-align: left;
    text-decoration: underline;
    width: 90%;
    font-size: 3em;
    line-height: 1.5em;

  }

  a:visited {
    font-family: 'Chakra Petch';
    padding: 10px;
    color: white;
    text-align: left;
    text-decoration: underline;
    width: 90%;
    font-size: 2.2em;
    line-height: 1.3em;
  }

  a:hover {
    color: yellow;
  }

 a{
    color: white;
  }
      
  p {
     font-family: 'Chakra Petch';
     font-size: 1.7em;
     text-align: left;
     line-height: 1.6em;
     width: 90%;
     /* line-height: 2.1em; */
     /* margin-bottom: 0.2em; */
     color: white;
     padding-left: 20px;
     overflow-wrap: break-word;
     hyphens: auto;
     background: black;
     margin-left: 0.5em;
     text-indent: 1.5em;

   }

  h1 {
    font-family: 'Chakra Petch';
    color: white;
    text-align: center;
    text-decoration: underline;
    overflow-wrap: break-word;
    width: auto;
    font-size: 5em;
    line-height: 1.1em;
    margin-top: 550px;
  }


  h2 {
      font-family: 'Chakra Petch';
      padding: 20px;
      color: white;
      text-align: left;
      text-decoration: underline;
      font-size: 3em;
      line-height: 1.5em;
      background: black;
      width: 90%;
      font-weight: normal;
      margin-top: 50px;
      }

   /*right column small chapters such as A. B. */
   h6 {
       font-family: 'Chakra Petch';
       font-size: 2.2em;
       text-align: left;
       line-height: 1.5em;
       width: 90%;
       color: white;
       padding: 20px;
       overflow-wrap: break-word;
       hyphens: auto;
       text-decoration: underline;
       font-weight: normal;
      }



   /*main text for left column paragraphs*/
    h5 {
       font-family: 'Chakra Petch';
       font-size: 1.5em;
       text-align: left;
       line-height: 1.4em;
       width: 90%;
       /* line-height: 2.1em; */
       /* margin-bottom: 0.2em; */
       color: black;
       padding: 20px;
       overflow-wrap: break-word;
       hyphens: auto;
       background: black;
       text-indent: 30px;
       font-weight:normal;
     }

    /*left column small chapters such as A. B. */
     h6-1 {
         font-family: 'Chakra Petch';
         font-size: 0.8em;
         text-align: left;
         line-height: 0.7em;
         width: 80%;
         color: white;
         overflow-wrap: break-word;
         hyphens: auto;

         font-weight: normal;

        }

        .footnote {
          background-color: black;
          padding: 1em;
          word-wrap: break-word;
          display: none;
          width: auto;
          border-radius: 5rem;

          font-size: 0.7em;
          line-height: 1.2em;
          text-align: left;
          color: yellow;
          padding-left: 1.5em;
          text-indent: -1.6em;
        }

        sup:hover + .footnote {
          display: block;
        }


        .topnav a {
          float: left;
          margin: 4px;
          color: black !important;
          text-align: center;
          padding: 14px 16px;
          font-family: 'Chakra Petch';
          font-size: 2em;
          white-space:nowrap;
          border-radius: calc(0.6em + 16px);
          background-color: white;
          text-decoration: none;
          display: inline-block;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
          background-color: yellow;
          color: black;
          display: inline-block;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
          background-color: black;
          color: yellow !important;
          display: inline-block;
        }
        br {
        content: "";
        margin-top: 400em;
        margin-bottom:  400em;
        display: block;

        }

}


